@font-face {
  font-family: "Lobster", cursive;
  src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: "Roboto - Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

/* ----------Parallax efects ---------- */
.parallax {
  /* The image used */
  background-image: url("../img/sliders/slide4d.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.view.parallax > div > div > div > div > img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.parallax p {
  color: #fff;
}

@media only screen and (max-device-width: 500px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* ----------Icons info ---------- */
.hi-icon-sofa:before {
  content: "\e009";
  background: url("../img/icons/icons.png") -626px 0px no-repeat;
}

.hi-icon-rack:before {
  content: "\e00a";
  background: url("../img/icons/icons.png") -695px 0px no-repeat;
}

.hi-icon-bed:before {
  content: "\e002";
  background: url("../img/icons/icons.png") -764px 0px no-repeat;
}

/* ----------content info ---------- */
div.container.about > div > div > p:nth-child(8) {
  text-indent: 20px;
  font-weight: 700;
}
div.container.about > div > div > p:nth-child(9) {
  text-indent: 0px;
}
