{% extends 'mainapp/base.html' %}

{% load static %}

{% block meta %}
  <meta name="description" content="Крым, Ялта, мебельный магазин «Фиш». Лучший выбор мебели в Ялте. Большой выбор мебели под заказ. Мебель на любой вкус. У нас можно купить шкафы, столы, стулья, кухонные гарнитуры, модульную мебель, диваны, кресла. Сборка и доставка мебели по Ялте и Крыму. "> 
  <meta name="keywords" content="Мебель в Ялте, Ялтинская мебель, купить мебель в Ялте, Ялта мебель, мебель с доставкой, сборка мебели, мебель под заказ, мебель с завода, мебель в ассортименте, купить мебель в Ялте, купить стенки в Ялте, купить мебель в Крыму.">
{% endblock meta %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/style_about.css">
{% endblock css %}

{% block content %}
  <!-- sections -->
  <!-- Main layout -->
  <section class="content">

    <div class="icon-info">
      <div class="container">
        <div class="row  d-flex jusfy-contetnt-center">
          <div class="col-md-4 icon ">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-sofa"> </a>
              </div>
                
              <p class=" wow animated jello">	
                На всю мебель, в том числе и комоды, магазин «Фиш» предоставляет гарантию. Вы нам доверяете свои 
                деньги, а мы предоставляем широкий спектр услуг по подбору, дизайну, доставке и сборке мебели. 
                К каждому клиенту индивидуальный подход. 
              </p>
            </div>
          </div>
          
          <div class="col-md-4 icon">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-rack"> </a>
              </div>
                
              <p class="wow animated jello">	
                Уже определились с моделью мебели для ванной комнаты, но сомневаетесь в выборе магазина? Ведь 
                купить мебель в Ялте можно во многих мебельных центрах. Мы предлагаем приобрести любой товар 
                с индивидуальной скидкой.  Или же сделать на заказ, по вашим размерам, и с точностью до миллиметра.  
              </p>
            </div>
          </div>
          
          <div class="col-md-4 icon">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-bed"> </a>
              </div>
                
              <p class=" wow animated jello">		
                Наши тумбы под телевизор прекрасно подойдут для ЖК и LED ТВ с любой диагональю. Тумбы содержат 
                выдвижные ящики, ниши для аппаратуры, скроют лишние провода и разъемы, улучшат комфорт использования 
                и предадут Вашему интерьеру непревзойденный вид.  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- icon-info -->

    <div class="view parallax" style="height: 100vh;">
      <div class="mask rgba-blue-light">
        <div class="container flex-center text-center">
          <div class="row mt-5">
            <div class="col-md-12 col-xl-8 mx-auto wow fadeIn">
              <p class="display-3 font-weight-bold mb-2 wow fadeInDown" data-wow-delay="0.3s">Доверие — это важно. А, точнее, — это всё. Нам стоит доверять</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container about">
      <!--Grid row-->
      <div class="row my-5 py-4">

        <!--Grid column-->
        <div class="col-md-12 text-center">
          <h3><strong>Добрый день, уважаемые покупатели!</strong></h3>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.4s">
            Почти каждый из нас, кто когда-либо покупал мебель, сталкивался с проблемой: где купить красивую и надёжную мебель, 
            и при этом не прогадать с ценой?
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.5s">
            С заботой о наших покупателей, мы проводили исследования начиная с нашего открытия с 2006 года и благодаря чему, 
            мы разработали формулу идеального соотношения приемлемых цен и отличного качества продукта.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.6s">
            Благодаря данному подходу, нам удалось охватить обширную клиентскую базу в Ялте и в других регионах Крыма. Высокий 
            товарооборот позволяет нам обеспечивать самые выгодные цены для Вас. Уже сегодня «Фиш» - один из самых узнаваемых 
            мебельных магазинов в Ялте.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            Нам также удалось выстроить долгосрочные отношения с производителями мебели, использующими лучшее европейское 
            оборудование, высокие стандарты качества и занимающими лидирующие позиции на рынке нашей страны, мы приобретаем 
            товары по низкой стоимости и радуем своих покупателей эксклюзивными ценами.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            В нашем магазине Вы найдете красивую, комфортную и недорогую мебель от лучших производителей страны. Закажите 
            понравившуюся модель с помощью наших менеджеров в офисе магазина «Фиш» или по телефону – и вот она уже едет к Вам
            домой, офис или отель! Мы работаем по всей Большой Ялте и со всеми регионами Крыма и быстро доставим Вашу покупку 
            в любую точку. Мебель поступит к Вам напрямую со склада в упаковке производителя. 
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            «Фиш» постоянно совершенствует методы обслуживания своих клиентов.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s" class="black-curs">
            Семь основных преимуществ магазина мебели «Фиш»:
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            1) Удобный и приятный глазу выставочный зал, ничего лишнего и отвлекающего.<br>
            2) Широкий ассортимент мебели различных стилей и ценовых категорий.<br>
            3) Постоянное обновление мебельных коллекций.<br>
            4) Исчерпывающие описания товаров в каталоге.<br>
            5) Компетентные и доброжелательные консультанты, которые помогут Вам определиться с выбором.<br>
            6) Индивидуальный подход к каждому клиенту, работа с учетом Ваших потребностей и пожеланий.<br>
            7) Полный спектр услуг, включая доставку, подъем на этаж и сборку мебели. <br>
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            Мы ежемесячно устраиваем различные акции и распродажи и заботимся о регулярном обновлении ассортимента товаров, 
            способы покупки которых всесторонне учтены для аудитории самых разных предпочтений. Постоянным  клиентам делаем 
            дополнительные скидки и приятные бонусы. Оплатить товар можно любым удобным для Вас способом.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            Для Вашего удобства мы сделали рабочий день наших менеджеров сбалансированным: они готовы принять 
            Ваш звонок или встретить лично в магазине ежедневно ПН. - СБ. с 10:00 до 18:00, ВС. - выходной.
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            Сделайте свой дом, офис или отель уютным, не тратя много времени и денег!
          </p>
          <p align="justify" class="wow animated fadeInDown" data-wow-delay="0.7s">
            Желаем Вам приятных покупок!
          </p>
          <blockquote class="blockquote wow animated bounceInRight" data-wow-delay="0.8s">
            <p class="pt-5" align="justify">
              <small>
                <em>
                  *Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, 
                  определяемой положениями Статьи 437 (2) Гражданского кодекса РФ. Цена на продукцию может меняться. Более точную
                  информацию вы получите в ответ на Вашу заявку. Цвета на сайте и на образцах могут отличатся от реальных. 
                  Фабрики оставляют за собой право смены поставщиков материалов и оттенков цвета продукции без предварительного уведомления.
                </em>
              </small>
            </p>
          </blockquote>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    
  </section>
{% endblock content %}
