{% extends 'mainapp/base.html' %}

{% load static %}

{% block meta %}
  <meta name="description" content="Магазин мебели «Фиш» г. Ялта. Производим, собираем, модернизируем, осуществляем доставку мебели по городу Ялта и в Крыму.  У нас большой ассортимент мебели в Ялте, из  которого можно выбрать необходимую для вас мебель. "> 
  <meta name="keywords" content="Крым мебель, магазин мебели в Ялте, мебель в Ялте, интернет магазин мебели Ялта, купить диван Ялта, кухня Ялта, кровать Ялта, мебель на заказ, заказать мебель в Ялте, доставка мебели в Ялте, шкаф-купе в Ялте и Крыму, Крымская мебель.">
{% endblock meta %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/style_home.css">
{% endblock css %}

{% block content %}
  <!-- sections -->
  <!-- Main layout -->
  <section class="content">

    <div class="icon-info">
      <div class="container">
        <div class="row  d-flex jusfy-contetnt-center">
          <div class="col-md-4 icon ">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-sofa"> </a>
              </div>
                
              <p class=" wow animated jello">	
                Когда дело доходит до выбора мебели для кухни, зайдите в один из лучших магазинов в Ялте,
                чтобы найти идеальное решения для вашего дома. Современная кухонная мебель должна быть 
                надежной, функциональной, удобной и эргономичной. Магазин «Фиш» предлагает именно такую продукцию. 
              </p>
            </div>
          </div>
          
          <div class="col-md-4 icon">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-rack"> </a>
              </div>
                
              <p class="wow animated jello">	
                Меблируя спальню мы стараемся подобрать предметы обстановки так, чтобы они гармонично сочетались 
                между собой и имели общие признаки (оттенки одного цвета, стиль и т. д.) Мы предлагаем вам не 
                тратить время на поиски отдельных предметов и купить спальные гарнитуры в магазине «Фиш», 
                с доставкой по Ялте.  
              </p>
            </div>
          </div>
          
          <div class="col-md-4 icon">
            <div class="info">
              <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a ">
                <a href="#set-1" class="hi-icon hi-icon-bed"> </a>
              </div>
                
              <p class=" wow animated jello">		
                Охотников за стилем, изяществом и изысканностью, удивит наш выбор диванов разных размеров и 
                цветовой гаммы, от насыщенных черных, коричневых, красных, оранжевых и до серых тонов. 
                Специалисты магазина «Фиш», смогут осуществить подбор цвета под ваш интерьер  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- icon-info -->

    <div class="view parallax" style="height: 100vh;">
      <div class="mask rgba-blue-light">
        <div class="container flex-center text-center">
          <div class="row mt-5">
            <div class="col-md-12 col-xl-8 mx-auto wow fadeIn">
              <p class="display-3 font-weight-bold mb-2 wow fadeInDown" data-wow-delay="0.3s">Мы лучшие, нам стоит доверять</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container about">
      <!--Grid row-->
      <div class="row my-5 py-4">

        <!--Grid column-->
        <div class="col-md-12 text-center">

          <p align="justify" class="wow animated bounceInLeft" data-wow-delay="0.4s">
            Магазин мебели «Фиш» рад приветствовать Вас на своем официальном сайте. Наш магазин - место, где 
            Вы легко и с удовольствием сможете подобрать мебельные гарнитуры для оформления интерьера дома, офиса и отеля.
          </p>
          <p align="justify" class="wow animated bounceInRight" data-wow-delay="0.5s">
            У нас Вы можете купить мебель, а также сопутствующие товары для дома с гарантией качества и в широком ассортименте. 
            Недорогая продукция не означает низкого качества.
          </p>
          <p align="justify" class="wow animated bounceInLeft" data-wow-delay="0.6s">
            Мебель в нашем магазине имеет необходимые сертификаты и изготовлена в соответствии с российскими и международными 
            стандартами качества. Регулярные распродажи и скидки позволяют обставить гостиную, детскую, прихожую, спальню 
            дешевыми и качественными гарнитурами. Вы можете для каждой комнаты подобрать интерьер в определенном стиле или 
            обставить всю квартиру в едином дизайне – выбор корпусных моделей в каждой коллекции позволяет это. Большой 
            ассортимент дает возможность позже докупить недостающий диван, компьютерный стол, кресло, комод, журнальный 
            или обеденный стол, тумбу, стул, пуф, угловой шкаф, кровать. Все это можно заказать в различных цветах и стилях, 
            с доставкой и сборкой.
          </p>
          <p align="justify" class="wow animated bounceInRight" data-wow-delay="0.7s">
            Недорогие модульные гарнитуры позволяют меблировать комнаты по низкой цене, сразу приобретать необходимые 
            предметы интерьера для создания уютной обстановки в доме, офисе или отеле.
          </p>
          <blockquote class="blockquote wow animated fadeInDown" data-wow-delay="0.8s">
            <p class="pt-5" align="justify">
              <small>
                <em>
                  *Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, 
                  определяемой положениями Статьи 437 (2) Гражданского кодекса РФ. Цена на продукцию может меняться. Более точную
                  информацию вы получите в ответ на Вашу заявку. Цвета на сайте и на образцах могут отличатся от реальных. 
                  Фабрики оставляют за собой право смены поставщиков материалов и оттенков цвета продукции без предварительного уведомления.
                </em>
              </small>
            </p>
          </blockquote>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    
  </section>
{% endblock content %}
